.home_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  min-height: 100vh;
  width: 100vw;
  background-color: var(--background-color);
  overflow: hidden;
  transition: background-color 0.3s ease-in-out;
}
.title {
  font-size: clamp(4em, 8vw, 10em);
  color: var(--text-color);
  font-family: title;
  margin-top: 10px;
}
.subtitle {
  font-size: clamp(0.8em, 1.5vw, 2em);
  color: var(--text-color);
  margin-bottom: 50px;
  opacity: 0.8;
}
.search_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.search_bar {
  border: 2px solid var(--text-color);
  height: 40px;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  border-radius: 7px;
  overflow: hidden;
}
input {
  height: 100%;
  width: clamp(280px, 40vw, 600px);
  border: none;
  padding: 0 10px;
  font-size: 1em;
}
input::placeholder {
  opacity: 0.6;
}
input:focus {
  outline: none;
}
.search_button {
  height: 100%;
  width: 40px;
  background-color: rgb(207, 207, 207);
  border-left: 2px solid var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  img {
    height: 60%;
  }
}
.suggestions_list {
  position: absolute;
  top: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  background: rgba(0, 0, 0, 0.534);
  color: white;
  border-radius: 4px;
  max-height: 140px;
  overflow-y: auto;
  width: 100%;
  z-index: 100;
  border: 1px solid rgba(0, 0, 0, 0.534);
}
.suggestions_list:empty {
  border: none;
}
.suggestions_list::-webkit-scrollbar {
  display: none;
}
.suggestion_item {
  padding: 8px 12px;
  cursor: pointer;
}
.suggestion_item:hover {
  background: rgba(0, 0, 0, 0.158);
}
.whitespace {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.weather_container {
  margin-top: 1vh;
  margin-bottom: 50px;
  aspect-ratio: 2 / 1;
  width: 70%;
  min-width: 1200px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(0, 0, 0, 0.226);
  border-radius: 12px;
  border: 1px solid var(--text-color);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.534);
  display: grid;
  grid-template-areas: "forecast main details";
  grid-template-columns: 1fr 42% 1fr;
  grid-template-rows: 1fr;
}
.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.details {
  grid-area: details;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.forecast {
  grid-area: forecast;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main_weather {
  backdrop-filter: blur(6px) saturate(155%);
  -webkit-backdrop-filter: blur(6px) saturate(155%);
  background: linear-gradient(
    to right,
    rgba(224, 234, 252, 0.8),
    rgba(158, 178, 209, 0.8)
  );

  border-radius: 12px;
  width: 98%;
  height: 40%;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.weather_stats {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  height: 100%;
  border-radius: inherit;
  padding-left: 30px;
}
.weather_location {
  display: flex;
  align-items: center;
  width: 100%;
  height: 20%;
  border-radius: inherit;
  img {
    height: 50%;
    opacity: 0.7;
  }
  p {
    margin-left: 5px;
    font-size: clamp(1.7em, 2vw, 2.5em);
    color: rgba(0, 0, 0, 0.719);
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-weight: 500;
    text-wrap: nowrap;
  }
}
.weather_temp {
  p {
    font-size: clamp(5em, 4vw, 8em);
    color: rgba(0, 0, 0, 0.733);
    font-weight: 1000;
  }
}
.weather_description {
  p {
    font-size: clamp(1em, 1vw, 1.5em);
    font-weight: 700;
    color: rgba(0, 0, 0, 0.747);
  }
}
.weather_img {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    height: 100%;
  }
}
.main_map {
  background-color: indianred;
  width: 98%;
  height: 55%;
  border-radius: 10px;
  cursor: default;
}
.forecast_container {
  background: linear-gradient(to top, #517599, #3a8892);
  width: 95%;
  height: 97%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
}
.forecast_title {
  text-align: center;
  font-size: clamp(2em, 2vw, 3em);
  color: rgba(255, 255, 255, 0.719);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 1000;
}
.forecast_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 80%;
}
.forecast_item {
  width: 85%;
  height: 17%;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.349);
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}
.forecast_item:hover {
  transform: scale(1.02);
}
.forecast_p1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 35%;
  height: 100%;
  padding-left: 20px;
  h2 {
    font-size: clamp(1.2em, 1vw, 2em);
    color: rgba(0, 0, 0, 0.719);
    font-family:
      "Franklin Gothic Medium",
      "Arial Narrow",
      Arial,
      sans-serif sans-serif;
    font-weight: 1000;
  }
  p {
    font-size: clamp(0.8em, 0.7vw, 1.2em);
    color: rgba(0, 0, 0, 0.459);
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-weight: 1000;
  }
}
.forecast_img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100%;
  img {
    height: 100%;
  }
}
.forecast_p2 {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    font-size: clamp(1.5em, 1.2vw, 2em);
    color: rgba(0, 0, 0, 0.719);
    font-weight: 1000;
  }
}
.details_item {
  width: 95%;
  height: 14%;
  background-color: rgba(240, 248, 255, 0.836);
  border-radius: 10px;
  font-size: clamp(1.5em, 1.2vw, 2em);
  color: rgba(0, 0, 0, 0.719);
  font-weight: 1000;
  h2 {
    font-size: clamp(1em, 1.5vw, 1.2em);
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: rgba(0, 0, 0, 0.719);
    font-weight: 1000;
  }
  p {
    font-size: clamp(0.8em, 1.4vw, 2em);
    color: rgba(0, 0, 0, 0.719);
    font-weight: 1000;
  }
  hr {
    width: 4px;
    background-color: rgba(0, 0, 0, 0.356);
    border: none;
  }
}
.details_item:nth-child(1) {
  display: flex;
  div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .feels_like {
    width: 40%;
  }
  .max_min_temp {
    width: 30%;
  }
  i {
    font-size: clamp(0.8em, 1vw, 1em);
    color: rgba(0, 0, 0, 0.719);
    font-weight: 1000;
  }
}
.details_item:nth-child(2),
.details_item:nth-child(3) {
  display: flex;
  justify-content: space-between;
  gap: 2%;
  div:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
  }
  img {
    height: 50%;
    width: 50%;
    opacity: 0.8;
  }
  div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 70%;
  }
  h2 {
    font-size: clamp(0.9em, 1vw, 1.2em);
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: rgba(0, 0, 0, 0.719);
    font-weight: 1000;
  }
}
.details_item:nth-child(4) {
  display: flex;
  div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
  }
}
.details_item:nth-child(5) {
  display: flex;
  div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
  }
}
.details_item:nth-child(6) {
  display: flex;
  img {
    height: 50%;
    width: 30%;
    opacity: 0.8;
  }
  div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
  }
  span {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  p {
    font-size: clamp(0.7em, 1vw, 1em);
    color: rgba(0, 0, 0, 0.719);
    font-weight: 1000;
  }
}
