.button {
  height: 30px;
  padding: 3px 5px 3px 5px;
  background: none;
  border: none;
  color: var(--text-color);
  display: flex;
  align-items: center;
  gap: 3px;
  border: 2px solid var(--text-color);
  border-radius: 12px;
  opacity: 0.8;
  p {
    font-weight: 600;
  }
  img {
    height: 100%;
    transition: all 1s ease;
  }
}
.button.flipped {
  img {
    rotate: 180deg;
  }
}
